body{
    background: #282A36;
}

div .login {
    
    width: 300px;
    border: 15px solid;
    background: #44475A;
    border-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #44475A ;
    padding:50px;
    margin:20px;

    text-align: center;
    margin:auto;
    padding:10px;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    color:white;
    
}

button.login-button{
    margin-top: 10px;
    border-radius: 50px;
    width:200px;
    height: 50px;
    border-color: transparent;
    background: #FFB86C;

}

input.login-input{
   border: 0px;
   box-shadow: 0px 1px 1px #282A36;
   background: #44475A;
   outline: 0px;
   color: white;
}

.login-input input::backdrop{
    background: #44475A;
}

img.login-image{
    border-radius: 25px;
    width: 64px;
    height: 64px;
}

button.login-button:hover {
    background: #ffce99;
}

.login-status {
    color:#FF5555;
}